div{
    background-color: hotpink;
    width: 48%;
}
input{
    background-color: aqua;
    width: 15%;
    margin: 8px 0px;
    border-radius: 10px ;
    border:  10px blueviolet;
}
img{
    background-color: rgb(83, 12, 141);
    width: 48%;
    margin: 8px 0px;
    ;
}
body{
    background-color:cadetblue;
}